<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="URL" value="http://www.demoqa.com/"/>
    <add key="TestDataSheetPath" value="YourPath"/>
    <add key="Logs" value="C:\Users\Ivo\Documents\Visual Studio 2015\Projects\QA_Automation_Homework_04\QA_Automation_Homework_03\Logs\"/>
</appSettings>
</configuration>
